.search-column{
    background-color: #A1A69C;
}
body {background-color: #6E7371;}

.card-body{
    flex:auto
}

.list-group-item{
    line-height: 1.0;
    border: none;
    font-family:serif;
    font-size: 1.2em;
}

@media screen and (max-width: 780px) {
    header,
    main {
      flex-direction: column;
    }
}